.news{
  position:relative;
  text-align:center;
  
  img{
    width: 50vh;

  }



}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.news__slide{
  display: none;
  text-align:center;
}


.active{
  background-color: #717171;
}

.text{
  margin: -30px 0 25px 0;
  font-size: 4.5vh;
}
.news__search {
  width: 75%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  background:no-repeat left/8% url('../../img/search-solid.svg');
  background-position: 10px 10px;
  background-size: 30px;
  padding: 12px 20px 12px 50px;
  font-size:3vh;
  border-radius:25px;
  margin:5px 0;
}


.news__market{
  color: #fff;
  text-transform: uppercase;
  background: #60a3bc;
  padding:10px 20px;
  border-radius: 6px;
  display: inline-block;
  border: none;
  margin-top: 15px;
  text-decoration: none;
}

.news__market:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 5px 40px -10px rgba(255, 130, 0, 0.5);
  -moz-box-shadow: 0px 5px 40px -10px rgba(255, 130, 0, 0.5);
  transition: all 0.4s ease 0s;
  border-radius: 50px;
}

