$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";

.conception{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  

  @media #{$tablet} {
    flex-direction:row;
    div{
      display:none;
    }
  }


  p{
    font-size:6vh;
  }
  
  figure{
    text-align:center;
    margin: 30px auto;
    width: 70%;
    opacity:0;
    transition:opacity 1s;

    @media #{$tablet} {
      width: 40%;
    }
    @media #{$desktop} {
      width: 25%;
    }
    img{
      height:auto;
      width:20vh;
    }

  }

  figcaption{
    margin:10px 0;
    text-align: justify;
  }

  img{
    height:auto;
    width:50%;
  }




}
.conception .is-reached{
  opacity: 1;

}
.is-reached p{
  opacity: 1!important;
  transform:none!important;
}

#arrow1, #arrow2{
  p{
    display:inline-block;
    opacity:0;
    transition: transform 1.25s;
    &:first-child{
      transform: translateX(-200px);
    }

    &:nth-child(2){
      transform:rotateZ(360deg);
    }

    &:last-child{
      transform:translateX(200px);
    }

  }

}