.rsn{

  display:flex;
  justify-content: space-around;
  text-align: center;

  img{
    width: 60%;
    height: auto;
  }

  a{
    text-decoration: none;
    width: 90%;
    transition: width 0.2s;
    padding: 15px 0;


    &:hover{
      
      width:100%;
      
    }

  }
}
